# Windows files should use crlf line endings
# https://help.github.com/articles/dealing-with-line-endings/
*.bat     ext eol=crlf
*.js      text eol=lf
*.json    text eol=lf
*.ts      text eol=lf
*.tsx     text eol=lf
*.gradle  text eol=lf
*.xml     text eol=lf
